*{margin: 0;padding: 0;}
#container{
    background: #f4f4f4;
}
#top_1{
    width: 100%;
    height:384px;
    background: rgba(0, 0, 0, 0.5);
    /* background: #66292E; */
    /* opacity: 0.55; */
    margin-top:0;
    overflow: hidden;
}
#top_1 .h2{
    width: 50px;
    height: 25px;
    color: #fff;

}
#top_1 .conter{
    width: 690px;
    height: 340px;
    /* background: red; */
    margin: 0 0 0 30px;
    overflow: hidden;
}
.conter .left{
    float: left;
    width: 200px;
    height: 320px;
    /* background: gold; */
    margin: 10px 0 0 20px;
}
.conter .left img{
    width: 100%;
    height: 100%;
    /* margin-right: 20px; */
}
.conter .right{
    float: left;
   width: 400px;
   height: 300px;
   margin-left: 20px;
   padding: 0;
   /* background: greenyellow; */
}
.right .p0{
    font-size: .34rem;
    color: #fff;
    margin: 10px 0 10px 0;
}
#top_1 .right .p1{
    background: none;
    color: #fff;
    font-size:.2rem;
}
.right .p5{
    color: orange;
    font-size: .34rem;
}
.right .p4{
    color: #fff;
    font-size: .3rem;
}
.right .p2{
    padding: 10px 0 10px 0;
    color: red;
}
#top_1 .right .s1{
    display: block;
    font-size: .24rem;
    color: #fff;
    padding-bottom: 20px;
    z-index: 1111;
}
.right .p3{
    font-size: .3rem;
    color: #fff;
}
#brief{
    background: #fff;
    /* width: 100%; */
    padding: .3rem .3rem 0 .3rem;
    /* padding: .3rem; */
    margin-bottom: 15px;
}
#brief .th{
    text-align: center;
    /* width: 690px; */
    background: #e54847;
    color: #fff;
    border-radius:4px;
    font-size: .5rem;
    line-height: 1rem;
    margin-bottom: 10px;
}
#brief .dra{
    font-size: .3rem;
}
#slideshow{
    margin-bottom:.2rem;
    background:#fff;
}
#slideshow .h1{
    font-size:.3rem;
    padding:.2rem .3rem;
    margin:0;
}
#slideshow .zuoyou{
    width:100%;
    height:.8rem;
    padding-left:.3rem;
    /* background:red; */
    /* border:1px solid #666; */
    box-sizing:border-box;
}
#slideshow span{
    font-size:.3rem;
    text-align:left;
    line-height:.8rem;
    color:#666;
      /* border:1px solid #666; */
}
#slideshow .s2{
    display: block;
    width:50%;
    float:left;
}
#slideshow .s3{
    display: block;
    width:50%;
    float:right;
}
#message .h1{
    font-size:.3rem;
    padding:.2rem .3rem;
    margin:0;
}
#tishi {
    background: #fff;
    margin-bottom: 20px;
}
#tishi .ts .t-h1{
    font-size: .4rem;
    color: crimson;
}
#tishi .ts .t-h2{
    font-size: .4rem;
    color: brown;
}
#tishi .t-h3{
    text-align: center;
    margin-left: 89%;
    border: 1px solid olive;
    background: olive;
    line-height: .6rem;
    color: #fff;
}
#bottom{
    margin-top: 20px;
    background: #fff;
    text-align: center;
    padding: .3rem .3rem 0 .3rem;
}
#bottom .b-h1{
    background: #e54847;
    color: #fff;
    border-radius:4px;
    font-size: .5rem;
    line-height: 1rem;
    margin: 0 0 20px 0;
}
#bottom .b-d {
    height: 1rem;
}
#bottom .b-d a{
    color: #df3434;
}
#bottom .b-p{
    margin: 28px 0;
}
.juao_li{
    float: left;
}